<div id="header">
	<div id="logo">
		<a href="/"><img src="/images/logo.png" alt="LOGO" height="100" width="200"></a>
	</div>

	<div id="navigation">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/travel">Travel</a></li>
			<li><a href="rooms.html">Rooms</a></li>
			<li><a href="meals.html">Meals</a></li>
			{{#unless (eq auth.role "admin")}}
			<li><a href="news.html">News</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="contact.html">Contact</a></li>
			{{/unless}}
			
			{{#if auth}}
			<li><a href="/reservations">Reservations</a></li>

			{{#if (eq auth.role "admin")}}
			<li><a href="/admin">Admin</a></li>
			{{/if}}
			<li><a href="/logout">Logout</a></li>
			{{else}}
			<li><a href="/login">Login</a></li>
			<li><a href="/signup">Sign Up</a></li>
			{{/if}}
		</ul>
	</div>
</div>