<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
  <div id="background">
    <div id="page">

      {{> header}}

      <div id="contents">
        <div id="adbox">
          <img src="/images/sea-sound.jpg" alt="Img">
          <h1>Enjoy the Summer with Us!</h1>

          {{#if auth}}
            <p>
              Welcome back! You’re logged in and ready to plan your next adventure.
              View your <a href="/reservations">reservations</a> or explore our
              <a href="/travel">travel destinations</a>.
            </p>
          {{else}}
            <p>
              Create an account or log in to manage reservations, explore exclusive
              travel destinations, and start planning your next getaway.
            </p>
            <p>
              <a href="/signup"><strong>Sign up</strong></a> or
              <a href="/login"><strong>log in</strong></a> to get started.
            </p>
          {{/if}}
        </div>

        <div id="main">
          <div class="box">
            <div>
              <div>
                <h3>Latest Blog</h3>
                <ul>
                  <li>
                    <h4><a href="/news">2023 Best Beaches Contest Winners</a></h4>
                    <span>April 02, 2023</span>
                    <p>
                      Integer magna leo, posuere et dignissim vitae, porttitor at odio.
                      Pellentesque a metus nec magna placerat volutpat...
                    </p>
                  </li>
                  <li>
                    <h4><a href="/news">Top 10 Diving Spots</a></h4>
                    <span>May 29, 2023</span>
                    <p>
                      Maecenas scelerisque odio quis arcu fringilla malesuada.
                      Nulla facilisi...
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div id="testimonials" class="box">
            <div>
              <div>
                <h3>Testimonials</h3>
                <p>
                  “In hac habitasse platea dictumst. Integer purus justo,
                  egestas eu consectetur eu, cursus in tortor.”
                  <span>- Juan De La Cruz</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="sidebar">
          <div class="section">
            <a href="/rooms"><img src="/images/rooms.png" alt="Img"></a>
          </div>
          <div class="section">
            <a href="/travel"><img src="/images/dive-site.png" alt="Img"></a>
          </div>
          <div class="section">
            <a href="/meals"><img src="/images/food.png" alt="Img"></a>
          </div>
        </div>
      </div>

    </div>

    {{> footer}}

  </div>
</body>
</html>
