<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login | {{title}}</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
  <div id="background">
    <div id="page">

      {{> header}}

      <div id="contents">
        <div class="box">
          <div>
            <div class="body">
              <h1>Log In</h1>

              {{#if error}}
                <p style="color:red">{{error}}</p>
              {{/if}}

              <form method="post" action="/login">
                <p>
                  <label>Email</label><br>
                  <input type="email" name="email" required>
                </p>

                <p>
                  <label>Password</label><br>
                  <input type="password" name="password" required>
                </p>

                <p>
                  <button type="submit">Log In</button>
                </p>
              </form>

              <p>
                Don’t have an account?
                <a href="/signup"><strong>Sign up here</strong></a>
              </p>

            </div>
          </div>
        </div>
      </div>

      {{> footer}}

    </div>
  </div>
</body>
</html>
